body {
    background: black;
    color: white;
}

.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
}

.styled-table th,
.styled-table td {
    padding: 9px;
    text-align:center;
}

.styled-table a {
    color: lightblue;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
