<h1>Valores de imóvel</h1>

<table style="width:100%">
    <tr>
        <th>Custo</th>
        <th>Condominio</th>
        <th>Total</th>
        <!-- <th>Preço Modelado</th> -->
        <th>Título</th>
    </tr>

    {% for index, row in df.iterrows() %}
        <tr>
            <td> {{row["price"]}} </td>
            <td> {{row["condo_fee"]}} </td>
            <td> {{row["total_fee"]}} </td>
            <!-- <td> {{row["pred"]}} </td> -->
            <td> 
            <a href={{index}}>
                <div>
                        {{row["title"]}} 
                    </div>
                </a>
            </td>
        </tr>
    {% endfor %}

</table>
