<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type= "text/css" href="static/mystyle.css">
    </head>

    {% block navbar %}
    <div class="navbar navbar-fixed-top" style="text-align: center;"> 
        <h1>Valores de imóvel</h1>
    </div>
    {% endblock %}

    {% block content %}
    <body>

        <form action="" method="POST" style="text-align: center;">
            
            {{ form.tp_contrato }}
            {{ form.tp_listings }}

            <br>
            <br>

            
            <div class="form-group">
                <label>Local:  </label>

                {{ form.local }}
                {{ form.search }}
            </div>
            <br>
            
            {% for local in locations %}

                {{ form["checkbox" + loop.index0|string] }}
                {{ local["locationId"] }}
                <br>

            {% endfor %}

            <br>

            <div class="form-group">
                <label>Query: </label>
                
                {{ form.query }}
            </div>


            <h4> Principais features a serem filtradas: </h4>
            
            <ul style="width: 250px; margin: 0 auto; text-align: left;">
                <li> bedrooms: Quantidade de quartos </li>
                <li> bathrooms: Quantidade de banheiros </li>
                <li> price: Preço </li>
                <li> condo_fee: Preço do condominio </li>
                <li> total_fee: Preço total </li>
                <li> distance: Distância até o metrô </li>
            </ul>
            
            exemplo de query: bedrooms>=2 and total_fee <= 2500
            <br>
            <br>

            {{ form.submit_table }}
            {{ form.submit_map }}
        </form>

    </body>
    {% endblock %}

</html>