<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type= "text/css" href="static/mystyle.css">
    </head>

    {% block navbar %}
    <div class="navbar navbar-fixed-top">
        <h1>Valores de imóvel - {{locationId}}</h1>
    </div>
    {% endblock %}

    <body>
        {% block content %}

        <table style="width:100%" class="styled-table">
            <tr>
                <th>Custo</th>
                <th>Condominio</th>
                <th>Total</th>
                <th>Preço Predito</th>
                <th>Elevador</th>
                <th>Estação</th>
                <th>Dist. Metro</th>
                <th>Título</th>
            </tr>
            
            {% for index, row in df.iterrows() %}
            <tr>
                <td> {{row["price"]}} </td>
                <td> {{row["condo_fee"]}} </td>
                <td> {{row["total_fee"]}} </td>
                <td> {{(row["pred"])|round|int}} </td>
                <td> {{row["elevator"]}} </td>
                <td> {{row["estacao"]}} </td>
                <td> {{(row["distance"])|round}} </td>
                <td> 
                    <a onclick="window.open('{{row['url']}}');" href='#'>
                        {{row["title"]}} 
                    </a>
                </td>
            </tr>
            {% endfor %}
            
        </table>

        {% endblock %}

    </body>

</html>